<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Denis Lim Website</title>
</head>
<body style="padding: 10px;">
    
    
    <div class="container">
        <div class="row">

            <div class="col-sm-4" style="background-color: rgb(163, 192, 192)">
                <img src="denis_profile.jpeg" alt="" width="240px" height="200px">
                <h3>Denis Federico Lim</h3>

                <p>Software Engineer</p>
                <p>Los Angeles, CA</p>

                <p>Email: denislim@usc.edu</p>
                <p>Github: https://github.com/DenisLim95</p>
                <p>LinkedIn: https://www.linkedin.com/in/denis-manuel-lim/</p>


            </div>

            <div class="col-sm-8" style="background-color: rgb(217, 235, 235)">
                <h1>Timeline</h1>

                <h3>Experience</h3>



                <h3>Education</h3>
                <p>M.S. Computer Science, University of Southern California, Dec. 2019</p>
                <p>B.S. Mechanical Engineering, University of Southern California, June 2017</p>


            </div>

        </div>
    </div>
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>