<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>Denis Federico Lim</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=stylesheet type=text/css media=screen href=css/main.css>
</head>
<body>
    <div class=wrap-mvKEP>
        <div class=summary-wrapper>
            <div class=summary-W8jya>
                <div class=profile_photo><img src=denis_profile.jpeg alt=profile_photo></div>
                <div class=desc>
                    <p class=name>Denis Federico Lim</p>
                    <div class=meta>
                        <p>Software Engineer</p>
                        <p>Los Angeles, CA</p>
                    </div>
                    <div class=contact>
                        <div><span>Email</span><a href=mailto:denislim@usc.edu>denislim@usc.edu</a></div>
                        <div><span>Github</span><a href=https://github.com/DenisLim95>DenisLim95</a></div>
                        <div><span>Music</span><a href=https://soundcloud.com/denis-lim>denis-lim</a> (SoundCloud)</div>
                        <div><span>LinkedIn</span><a href=https://www.linkedin.com/in/denis-manuel-lim/ >Denis Manuel Lim</a></div>
                    </div>
                </div>
                <ul class=navigation>
                    <li class=active><span><a href=/ >Timeline</a></span></li>
                    <li class=""><span><a href="/music">Music</a></span></li>
                </ul>
            </div>
        </div>
        <div class=body-wrapper>
            <div class=timeline-n7V26>
                <p class=head-title-divider></p>
                <div class=timeline-section>
                    <p class=section-title>Experience</p>
                    <div class=TimelineEntryEmployment-XE0s3>
                        
                        <div class=""><b class=title>Software Developer Intern | Playstack Team</b><img style="float:right;" src="hulu.jpg" alt="" width="70px" height="24px"></div>
                        <div class=meta><span class=role>HULU</span><span class=separator>∙</span><span class=time>Jun 2019 - Aug 2019</span><span class=separator>∙</span><span class=location>Santa Monica, CA</span></div>
                        <p class=url><a href=https://www.hulu.com/ >https://www.hulu.com/</a>
                            <ul class=desc>
                                <li class=item-1>
                                    <p>Designed and built E2E (end to end) integration testing of Hulu's playback (on-demand and live) service endpoints using Runscope.</p>
                                </li>
                                <li class=item-1>
                                    <p>Tested 10+ services involved from the point a user requests a video, to when actual video is played.</p>
                                </li>
                                <li class=item-1>
                                    <p>Services tested include Manifest Service, Content and Device metadata, Entitlement checking, Segment retrieval (Dash/HLS), View tracking, Ad Integration.</p>
                                </li>
                            </ul>
                        </p>
                        
                    </div>
                    <br/>
                    
                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Software Engineer Intern | AutoOEM Team</b><img style="float: right;" src="garmin.png" alt="" width="90px" height="33px"></div>
                        <div class=meta><span class=role>Garmin</span><span class=separator>∙</span><span class=time>Dec 2018 - Mar 2019</span><span class=separator>∙</span><span class=location>Diamond Bar, CA</span></div>
                        <p class=url><a href=https://www.garmin.com>https://www.garmin.com</a>
                            <ul class=desc>
                                <li class=item-1>
                                    <p>Designed and installed European Radio (DAB) chip driver missing states/transitions using Boost C++ State Machine Language. </p>
                                </li>
                                <li class=item-1>
                                    <p>Decreased DAB radio submodule compile time by 10% by migrating shareable components and Google Mock unit tests to general tuner library API.</p>
                                </li>
                                <li class=item-1>
                                    <p>Delivered abidance to European Radio standards (ETSI) by implementing asynchronous radio receiver data handling.</p>
                                </li>
                                <li class=item-1>
                                    <p>Reduced receiver request serving time by 30% by modifying receiver manager to handle requests based on driver availability.</p>
                                </li>
                            </ul>
                        </p>
                    </div>
                    
                    <br/>
                    
                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Research/Programming Intern | MediaQ Team</b><img style="float: right;" src="USC-IMSC.jpg" alt="" width="140px" height="45px"></div>
                        <div class=meta><span class=role>Integrated Media Systems Center</span><span class=separator>∙</span><span class=time>Apr 2018 - Aug 2018</span><span class=separator>∙</span><span class=location>LA, CA</span></div>
                        <p class=url><a href=https://imsc.usc.edu>https://imsc.usc.edu/</a>
                            <ul class=desc>
                                <li class=item-1>
                                    <p>Coordinated image pre-processing pipelines for feeding into Google Tesseract for denoising images, to achieve optimal OCR.</p>
                                </li>
                                <li class=item-1>
                                    <p>Developed procedure for image pre-processing using ImageMagick and OpenCV libraries.</p>
                                </li>
                                <li class=item-1>
                                    <p>Tested model on Perfect-500K, a dataset of beauty products integrated from 14 popular e-commerce sites.</p>
                                </li>
                            </ul>
                        </p>
                    </div>
                    
                    <br/>
                    
                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Assistant Manager</b></div>
                        <div class=meta><span class=role>Caffe Concerto</span><span class=separator>∙</span><span class=time>Jan 2017 - Jun 2017</span><span class=separator>∙</span><span class=location>Los Angeles, CA</span></div>
                        <ul class=desc>
                            <li class=item-1>
                                <p>Served as Assistant Manager to 20+ employees and 200 daily patrons at high-end Italian restaurant.</p>
                            </li>
                        </ul>
                    </div>
                    
                    </br>
                
                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Researcher/Programmer</b></div>
                        <div class=meta><span class=role>Children’s Hospital of Los Angeles (CHLA)</span><span class=separator>∙</span><span class=time>Aug 2017 - Dec 2017</span><span class=separator>∙</span><span class=location>Los Angeles, CA</span></div>
                        <ul class=desc>
                            <li class=item-1>
                                <p>Collaborated with Dr. Greg Haroutunian from the Children’s Hospital of Los Angeles (CHLA) to test and patent a pressurized medicinal inhaler spacer to maximize aerosolized drugs to the lungs.</p>
                            </li>
                            <li class=item-1>
                                    <p>Designed experimental setup of scaling air behavior to sucrose water by matching Reynolds Number.</p>
                            </li>
                            <li class=item-1>
                                    <p>Implemented Digital Image Correlation (DIC) methods with MATLAB to numerically analyze annular flow and find optimal concentric area ratio.</p>
                            </li>
                        </ul>
                    </div>
                
                </div>

                <div class=timeline-section>
                    <p class=section-title>Other Activities</p>

                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Korean Athletic Club</b></div>
                        <p>Member, USC KAC Soccer Team</p>
                    </div>

                    <div class=TimelineEntryEmployment-XE0s3>
                        <div class=""><b class=title>Music Producer</b></div>
                        <p>Composed, produced, and sold jazz/hiphop beats online.</p>
                    </div>

                    
                
                </div>
            
            <div class=timeline-section>
                <p class=section-title>Education</p>
                <div class=TimelineEntryEducation-q3gJy><span class=time>2017 - 2019</span><span class=desc><b>MS in Computer Science</b>, University of Southern California</span></div>
                <div class=TimelineEntryEducation-q3gJy><span class=time>2013 - 2017</span><span class=desc><b>BS in Mechanical Engineering</b>, University of Southern California</span></div>
                <div class=TimelineEntryEducation-q3gJy><span class=time>2009 - 2013</span><span class=desc><b>Asociacion Escuelas Lincoln Highschool</b>, Buenos Aires, Argentina</span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>