<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8>
      <meta http-equiv=X-UA-Compatible content="IE=edge">
      <title>Denis Federico Lim</title>
      <meta name=viewport content="width=device-width,initial-scale=1">
      <link rel=stylesheet type=text/css media=screen href=css/main.css>
   </head>
   <body>
      <div class=wrap-mvKEP>
         <div class=summary-wrapper>
            <div class=summary-W8jya>
               <div class=profile_photo><img src=denis_profile.jpeg alt=profile_photo></div>
               <div class=desc>
                  <p class=name>Denis Federico Lim</p>
                  <div class=meta>
                     <p>Software Engineer</p>
                     <p>Los Angeles, CA</p>
                  </div>
                  <div class=contact>
                     <div><span>Email</span><a href=mailto:denislim@usc.edu>denislim@usc.edu</a></div>
                     <div><span>Github</span><a href=https://github.com/DenisLim95>DenisLim95</a></div>
                     <div><span>Music</span><a href=https://soundcloud.com/denis-lim>denis-lim</a> (SoundCloud)</div>
                     <div><span>LinkedIn</span><a href=https://www.linkedin.com/in/denis-manuel-lim/ >Denis Manuel Lim</a></div>
                  </div>
               </div>
               <ul class=navigation>
                  <li class=active><span><a href=/ >Timeline</a></span></li>
                  <li class=""><span><a href="">Music</a></span></li>
               </ul>
            </div>
         </div>
         <div class=body-wrapper>
            <div class=timeline-n7V26>
               <p class=head-title-divider></p>
               <div class=timeline-section>
                  <p class=section-title>Experience</p>
                  <div class=TimelineEntryEmployment-XE0s3>
                     <div class=""><b class=title>Incoming Software Developer Intern</b></div>
                     <div class=meta><span class=role>HULU</span><span class=separator>∙</span><span class=time>Jun 2019 - Aug 2019</span><span class=separator>∙</span><span class=location>Santa Monica, CA</span></div>
                     <p class=url><a href=https://www.hulu.com/ >https://www.hulu.com/</a>
                     <ul class=desc>
                        <li class=item-1>
                           <p>Incoming Software Developer Intern at Hulu's Content Library Team.</p>
                        </li>
                     </ul>
                     </p>
                  </div>
                  <div class=TimelineEntryEmployment-XE0s3>
                     <div class=""><b class=title>Software Engineer</b></div>
                     <div class=meta><span class=role>Naver Corporation</span><span class=separator>∙</span><span class=time>Jan 2017 - Jan 2018</span><span class=separator>∙</span><span class=location>Seongnam, S.Korea</span></div>
                     <p class=url><a href=https://navercorp.com>https://navercorp.com</a>
                     <ul class=desc>
                        <li class=item-1>
                           <p>Full stack engineering in the top domestic internet service company (2017) with a massive user base</p>
                        </li>
                        <li class=item-1>
                           <p>Project <b>Common Comment Platform</b> (공통댓글): Comment module/APIs (Disqus-like) used in various Naver Services</p>
                        </li>
                        <li class=item-2>
                           <p>Used Java Spring, iBatis, MySQL, and Redis to handle large web traffic on the server side. In front-end, used jQuery and vanilla JavaScript to work on web application that runs in various browsing platforms</p>
                        </li>
                        <li class=item-2>
                           <p>Worked on restructuring the client-side web-application so that state hydration takes place in one-way (unidirectional flow)</p>
                        </li>
                     </ul>
                     </p>
                  </div>
                  <div class=TimelineEntryEmployment-XE0s3>
                     <div class=""><b class=title>Software Engineer</b></div>
                     <div class=meta><span class=role>Zoyi Corporation</span><span class=separator>∙</span><span class=time>Jul 2016 - Dec 2016</span><span class=separator>∙</span><span class=location>Seoul, S.Korea</span></div>
                     <p class=url><a href=https://zoyi.co>https://zoyi.co</a>; <a href=https://channel.io>https://channel.io</a>
                     <ul class=desc>
                        <li class=item-1>
                           <p>Worked as a software engineer at the fastest rising tech startup (2016) in Korea</p>
                        </li>
                        <li class=item-1>
                           <p>Project a) <b>Channel</b>: a chat API (similar to Intercom) that runs embedded on websites enabling communication between clients and the business</p>
                        </li>
                        <li class=item-2>
                           <p>Used JavaScript ES6, SASS, React.js, Redux.js, Node.js, Webpack and AWS S3</p>
                        </li>
                        <li class=item-2>
                           <p>Developed the web application, with much thought devoted to make it run in different browsing environments and to make it as light-weighted as possible. Set up React.js application architecture and programming conventions</p>
                        </li>
                        <li class=item-2>
                           <p>Focused on optimised state control in the client-side, leading the <a>migration</a> from Flux Utils to Redux.js</p>
                        </li>
                        <li class=item-1>
                           <p>Project b) <b>WI-Funnel</b>: a data visualizer (dashboard) that calculates and shows charts. Conducted solo.</p>
                        </li>
                        <li class=item-2>
                           <p>Used React.js, Node.js, and small chart libraries to build dashboard that shows data collected by Walk Insights before being heavily processed such as by MapReduce</p>
                        </li>
                     </ul>
                     </p>
                  </div>
                  <div class=TimelineEntryEmployment-XE0s3>
                     <div class=""><b class=title>Software Engineer Intern</b></div>
                     <div class=meta><span class=role>LG CNS</span><span class=separator>∙</span><span class=time>Jan 2016 - Feb 2016</span><span class=separator>∙</span><span class=location>Seoul, S.Korea</span></div>
                     <ul class=desc>
                        <li class=item-1>
                           <p>Winter Internship, offered after winning bronze in LG CNS Hackathon (2015)</p>
                        </li>
                        <li class=item-1>
                           <p>Researched company's technology stacks in Software Architecture Team</p>
                        </li>
                     </ul>
                  </div>
                  <div class=TimelineEntryEmployment-XE0s3>
                     <div class=""><b class=title>Founder, Lead Engineer</b></div>
                     <div class=meta><span class=role>Bagdar</span><span class=separator>∙</span><span class=time>Oct 2015 - Jan 2016</span><span class=separator>∙</span><span class=location>Seoul, Korea</span></div>
                     <ul class=desc>
                        <li class=item-1>
                           <p>Founded a startup to develop award-winning idea on information security</p>
                        </li>
                        <li class=item-1>
                           <p>Project <b>Viewer Identifying Module</b>: Web content security solution through displaying viewer's information on the image</p>
                        </li>
                        <li class=item-2>
                           <p>Used HTML, LESS, PHP, JavaScript, and GD (PHP built-in image processing library)</p>
                        </li>
                        <li class=item-2>
                           <p>Mostly worked on architecting PHP web request handler and client-side web application</p>
                        </li>
                        <li class=item-2>
                           <p>Led the team of two, sourcing the idea, participated in <b>LG CNS Hackathon 2015</b>. Earned Bronze award</p>
                        </li>
                     </ul>
                  </div>
               </div>
               
               <div class=timeline-section>
                  <p class=section-title>Education</p>
                  <div class=TimelineEntryEducation-q3gJy><span class=time>2015 - 2017</span><span class=desc><b>BS in Computer Science</b>, Korea University</span></div>
                  <div class=TimelineEntryEducation-q3gJy><span class=time>Spring 2014</span><span class=desc>Study abroad, University of Utah</span></div>
                  <div class=TimelineEntryEducation-q3gJy><span class=time>2013 - 2014</span><span class=desc>Kookmin University</span></div>
                  <div class=TimelineEntryEducation-q3gJy><span class=time>2005 - 2008</span><span class=desc>Yeongdong High School, Seoul</span></div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>